<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include ('../partials/header') %> 
    <h3>This is the home page <%= name %></h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Human_skull_-_animation_02_bright.gif" alt="">
</body>
</html>

